@font-face {
  font-family: "iconfont"; /* Project id 3252799 */
  src: url('//at.alicdn.com/t/font_3252799_qna0ai7gtca.woff2?t=1647445883643') format('woff2'),
       url('//at.alicdn.com/t/font_3252799_qna0ai7gtca.woff?t=1647445883643') format('woff'),
       url('//at.alicdn.com/t/font_3252799_qna0ai7gtca.ttf?t=1647445883643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongwenbao:before {
  content: "\100ab";
}

.icon-daka:before {
  content: "\100ac";
}

.icon-wode:before {
  content: "\100ad";
}

.icon-shuju:before {
  content: "\100ae";
}

.icon-yonghu:before {
  content: "\100af";
}

.icon-tongzhi:before {
  content: "\100b0";
}

.icon-xinxi:before {
  content: "\100b1";
}

.icon-shenghuoxiuxian:before {
  content: "\100b2";
}

.icon-zixun:before {
  content: "\100b3";
}

